<div class="container article-form">
  <%= form_for article do |f|%>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control"%>

    <%= f.label :content, "Content" %>
    <%= f.text_area :content, class: "form-control"%>
    <br>
    <input id="article_image" style="display:none" type="text" value="<%= @article.image%>" name="article[image]">
    <button name="button" type="button" class="btn btn-default btn-upload-image" onclick=" updateImg(event)">上傳照片</button>
    <br>
    <br>
    <%= image_tag article.image, class:"img-responsive img-rounded " if article.image && article.image != "" %>
    <br>

    <%= f.label :authority, "觀看權限:" %>
    <%= f.radio_button :authority, 1%>
    <label>所有人</label>
    <%= f.radio_button :authority, 2%>
    <label>朋友</label>
    <%= f.radio_button :authority, 3%>
    <label>自己</label>
    <br>

    <label>文章分類:</label>

    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: false}, class: "form-control" %>

    <br>
    <% if article.status == false%>
      <label>文章狀態: 草稿</label>
    <% elsif article.status == true%>
      <label>文章狀態: 已發布</label>
    <% else %>
      <label>文章狀態: 未儲存</label>
    <% end %>
    <br>
    <br>
    <input type="submit" class="btn-default" name="draft" value="儲存草稿">
    <input type="submit" class="btn-primary" name="sumit" value="發佈">
  <% end %>
</div>

<script type="text/javascript">
  window.setTimeout( function() {
    $("textarea").height( $("textarea")[0].scrollHeight );
  }, 1);

  $("#article_image").on('change', function(event){
    var image = $("image");
    var url = event.target.value;
    $(image).attr('src', url);
    console.log(url);
    console.log(image);
    console.log("test");
  });

  function updateImg(){
    (function(){
        Dojo_Forum.pick().then(function(data){(function(data){const filestack_input_field= document.getElementById('article_image');
          filestack_input_field.value = data.filesUploaded[0].url;
          $("img").attr('src', filestack_input_field.value);
          console.log("test");
        })(data)})
    })()

    
  }
  
</script>

