<div class="row feeds-cover-block">
  <div class="info-block">
    <div class="user-count-block text-center">
      <h3>使用者</h3>
      <h3 class="num"><%= @user_count%></h3>
    </div>
    <div class="article-count-block text-center">
      <h3>貼文</h3>
      <h3 class="num"><%= @article_count%></h3>
    </div>
    <div class="reply-count-block text-center">
      <h3>回覆</h3>
      <h3 class="num"><%= @reply_count%></h3>
    </div>
  </div>
    
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">回覆排行</div>
        

        <table class="table">
          <thead>
            <tr>
              <th>排名</th>
              <th class="th-text">姓名</th>
              <th>回覆數</th>
            </tr>
          </thead>
          <% i = 0 %>
          <tbody>
            <% @ranked_users.each do |user|%>
              <tr>
                <td><%= i+=1%></td>
                <td class="td-text"><%= link_to user.name, articles_user_path(user) %></td>
                <td><%= user.replies_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

          
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">最受歡迎貼文</div>

        <table class="table">
          <thead>
            <tr>
              <th >排名</th>
              <th class="th-text">標題</th>
              <th class="th-time">發佈時間</th>
            </tr>
          </thead>
          <% i = 0 %>
          <tbody>
            <% @ranked_articles.each do |article|%>
              <tr>
                <td><%= i+=1%></td>
                <td class="td-text"><%= link_to article.title, article_path(article) %></td>
                <td class="td-time"><%= article.created_at.to_s[0..9] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>