<div class="header">
  
  <div class="container">
    <h2>Site Name</h2>
  </div>
  
</div>

<div class="container">
  <%= render :partial => "shared/pills_category", :locals => {:selected_item => '所有文章'}%>
  <div class="article_list">
    <table class="table">
      <thead>
        <tr>
          <th>回覆數量</th>
          <th>標題</th>
          <th>最後回覆時間</th>
          <th>瀏覽數量</th>
          <% if current_user && current_user.role == "admin"%>
            <th>功能</th>
          <% end %>
        </tr>
          
      </thead>
      <tbody>
          
        <% @articles.each do |article|%>
          <tr>
            <td><%= article.replies_count %></td>
            <td><%= link_to article.title, article_path(article)%></td>
            <td><%= article.last_reply_time.to_s[0..15] %></td>
            <td><%= article.views_count %></td>
            <% if current_user && current_user.role == "admin"%>
              <th><%= link_to '<i class = "glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>'.html_safe, article_path(article), method: :delete, data:{confirm:"Are you sure>"}%></th>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
      
  </div>

  <%= paginate @articles %> 
</div>