<div class="container">
  
  <div class="article-block">
    <div class="row">
      <div class="col-md-3 article-title">
        <h1><%= @article.title%></h1>
      </div>
      <div class="text-right">
        <button class="collect-btn btn btn-default" id="<%= @article.id%>">收藏</button>
        <button class="go-reply btn btn-default">新增回覆</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" id="<% @article.user.id %>">
        <%= filestack_image @article.user.avatar, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if @article.user.avatar%>
        <%= link_to @article.user.name, articles_user_path(@article.user)%>
        <%= render :partial => "shared/add_friend_button", :locals => { :user => @article.user} %>   
      </div>
      <div class="article-content col-md-9">
      <%= filestack_image @article.image, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if @article.image%>
      <%= truncate(simple_format(@article.content), length: 1200)%>
      <div class="btn-control-group text-right">
        <% if current_user == @article.user || current_user.admin? %>
          <%= link_to '<i class = "glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>'.html_safe, article_path(@article), method: :delete, data:{confirm:"Are you sure>"}%>
        <% end %>
      </div>
    </div>
      
        
    </div>

  </div>
   
  <div class="reply-list">
    <div class="reply-bolck row">
      <% @article.replies.all.each do |reply| %>
        <div class="col-md-3" id="<%= reply.id%>">
          <%= filestack_image reply.user.avatar, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if reply.user.avatar%>
          <%= reply.user.name %>
          <%= render :partial => "shared/add_friend_button", :locals => { :user => @article.user} %> 
        </div>
        <div class="reply-coneten col-md-9">
          <%= truncate(simple_format(reply.content), length: 1200)%>
          <div class="btn-control-group text-right">
            <% if current_user.admin? || current_user == @article.user || current_user == reply.user %>
            <%= link_to '<i class = "glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>'.html_safe, reply_path(reply), method: :delete, data:{confirm:"Are you sure>"} %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div> 

  <%= form_for @reply do |f|%>
    <%= f.text_area :content, class: "form-control" %>
    <br>
    <%= f.hidden_field :article_id, :value => @article.id %>
    <%= f.submit "回覆", class: "btn btn-default" %>
  <% end %>
</div>

<script type="text/javascript">
  $(".btn-add-friend").on('click', function(event){
    var user_id = event.target.id;
    $.ajax({
      url: "/friendships",
      method: "POST",
      datatype: "json",
      data: {
        user_id: user_id
      },
      success: function(data){
        var btn = $(".btn-add-friend");
        if(data["status"] == 3){
          $(btn).html("好友");
          $(btn).prop('disabled', true);
        }
        else if(data["status"] == 2){
          $(btn).html("取消邀請");
          $(btn).removeClass("btn-add-friend");
          $(btn).addClass("btn-cancel-invite");
        }
        
      }
    });
  });

  $(".collect-btn").on('click', function(event){
    var article_id = event.target.id;
    $.ajax({
      url: "/collections/",
      method: "POST",
      datatype: "json",
      data: {
        article_id: article_id
      },
      success: function(data){
        var btn = $(".collect-btn");
        $(btn).html("取消收藏");
        $(btn).removeClass("collect-btn");
        $(btn).addClass("uncollet-btn");
      }
    });
  });
</script>