<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= image_tag @article.user.avatar, class:"img-responsive img-rounded " if @article.user.avatar%>
          <%= @article.user.name%>          
        </td>
        <td>
          <%= image_tag @article.image, class:"img-responsive img-rounded " if @article.image%>
          <%= @article.content%>
        </td>
      </tr>
      
      <% @article.replies.all.each do |reply| %>
        <tr>          
          <td><%= reply.user.name %></td>
          <td><%= reply.content%></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  <%= form_for @reply do |f|%>
    <%= f.text_area :content, class: "form-control" %>
    <br>
    <%= f.hidden_field :article_id, :value => @article.id %>
    <%= f.submit "回覆", class: "btn btn-default" %>
  <% end %>
</div>