<div class="container">
  <%= render :partial => "shared/info_user", :locals => { :user => @user } %>

  <br>
  
  <%= render :partial => "shared/tabs_user", :locals => { :selected_item => '文章列表', :user => @user } %>

  <table class="table">
    <thead>
      <tr>
        <th class="th-text">標題</th>
        <th>分類</th>
        <th>發佈時間</th>
        <% if current_user == @user %>
          <th>功能</th>
        <% end %>
      </tr>        
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class="td-text"><%= link_to article.title, article_path(article) %></td>
          <td>
            <% article.categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </td>
          <td><%= article.created_at.to_s[0..15] %></td>
          <td class="btn-control-group">
            <% if current_user == @user %>
              <%= link_to '<i class = "glyphicon glyphicon-pencil" aria-hidden="true"></i>'.html_safe, edit_article_path(article)%>
              <%= link_to '<i class = "glyphicon glyphicon-remove text-danger" aria-hidden="true"></i>'.html_safe, article_path(article), method: :delete, data:{confirm:"Are you sure>"}%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>