<div class="container">
  <div class="row user-info-block">
    <%= render :partial => "shared/info_user", :locals => { :user => @user } %>
  </div>
  <br>
  
  <%= render :partial => "shared/tabs_user", :locals => { :selected_item => '文章列表' } %>

  <table class="table">
    <thead>
      <tr>
        <th class="th-text">標題</th>
        <th>分類</th>
        <th>發佈時間</th>
      </tr>        
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class="td-text"><%= link_to article.title, article_path(article) %></td>
          <td><%= article.category.name %></td>
          <td><%= article.created_at.to_s[0..15] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>