<div class="container">
  <%= render :partial => "shared/info_user", :locals => { :user => @user } %>

  <br>
  <%= render :partial => "shared/tabs_user", :locals => { :selected_item => '好友列表' } %>
  <div class="request-block col-md-12">
    <h2>等待同意名單</h2>
    <% @user.requests.each do |user| %>
      <div class="col-md-2">
        <%= filestack_image user.avatar, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if user.avatar%>
        <%= link_to user.name, articles_user_path(user)%>
      </div>
    <% end %>
  </div>
  <br>
  <div class="invite-block col-md-12">
    <h2>交友邀請</h2>
    <% @user.invites.each do |user| %>
      <div class="col-md-2" id="<%= user.id%>">
        <%= filestack_image user.avatar, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if user.avatar%>
        <%= link_to user.name, articles_user_path(user) %>
        
          
        
        <button class="btn btn-success btn-agree-invite">同意</button>
        <button class="btn btn-warning btn-ignore-invite">忽略</button>
      </div>
    <% end %>
  </div>
  <br>
  <div class="friend-block col-md-12">
    <h2>朋友名單</h2>
    <% @user.friends.each do |user| %>
      <div class="col-md-2">
        <%= filestack_image user.avatar, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if user.avatar%>
        <%= link_to user.name, articles_user_path(user)%>
      </div>
    <% end %>
    <% @user.inverse_friends.each do |user| %>
      <div class="col-md-2">
        <%= filestack_image user.avatar, transform: filestack_transform.resize(width:100, height:100), class:"img-responsive img-rounded " if user.avatar%>
        <%= link_to user.name, articles_user_path(user)%>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  
  $(".btn-agree-invite").on('click', function(event){
    var user_id = event.target.parentNode.id;
    $.ajax({
      url: "/friendships/"+user_id,
      method: "PATCH",
      data: {
        status: 3
      },
      datatype: "json",
      success: function(data){
        var user = $(".invite-block").find("#"+data["user_id"]);
        $(user).find(".btn-agree-invite").remove();
        $(user).find(".btn-ignore-invite").remove();
        $(".friend-block").append(user);
      }
    });
  });

  $(".btn-ignore-invite").on('click', function(event){
    var user_id = event.target.parentNode.id;
    $.ajax({
      url: "/friendships/"+user_id,
      method: "PATCH",
      data: {
        status: -1
      },
      datatype: "json",
      success: function(data){
        $(".invite-block").find("#"+data["user_id"]).remove();
        
      }
    });
  });
</script>

