<div class="row user-info-block">
    <div class="avatar-block col-md-2" id="<% user.id %>">
    <% if user.avatar %>
      <%= image_tag user.avatar, class:"img-responsive img-rounded "%>
    <% else %>
      <%= image_tag "league_card.png", class:"img-responsive img-rounded "%>
    <% end %>
    <p><%= link_to user.name, articles_user_path(user)%></p>
    <%= render :partial => "shared/add_friend_button", :locals => { :user => user} %>   
  </div>
  <div class="col-md-10 text-content">
    <p><%= simple_format(@user.introduction) %></p>
  </div>

  <div class="btn-control-group text-right">
    <% if current_user == user || current_user.admin? %>
      <%= link_to '<i class = "glyphicon glyphicon-pencil" aria-hidden="true"></i>'.html_safe, edit_user_path(user)%>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  //送出好友邀請
  $(".btn-friend").on('click', '.btn-add-friend',function(event){
    var user_id = event.target.parentNode.id;
    $.ajax({
      url: "/friendships",
      method: "POST",
      datatype: "json",
      data: {
        user_id: user_id
      },
      success: function(data){
        if(data["status"] == 3){
          var btn = $('<button class="btn">好友</button>');
          $(".btn-add-friend").remove();
        }
        else if(data["status"] == 2){
          var btn = $('<button class="btn btn-cancel-invite">取消邀請</button>');
          $(".btn-add-friend").remove();
        }
        $(".btn-friend").append(btn);
      }
    });
  });

  //取消邀請
  $(".btn-friend").on('click', '.btn-cancel-invite', function(evnet){
    var user_id = event.target.parentNode.id;
    $.ajax({
      url: "/friendships/" + user_id,
      method: "delete",
      datatype: "json",
      success: function(data){
        var btn = $('<button class="btn btn-add-friend">加好友</button>');
        $(".btn-cancel-invite").remove();
        $(".btn-friend").append(btn);
      }
    });
  });
</script>
  