<div class="container">
  <%= render :partial => "shared/tabs_admin_user", :locals => {selected_item: "文章類別"} %>
  <br>
  <%= form_for [:admin, @category] do |f|%>
    <%= f.text_field :name %>
    <%= f.submit "新增", class: "btn btn-default" %>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>類別名稱</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody class="category-list">

      <% @categories.each do |category|%>
        <tr id="<%= category.id%>">
          <td class="category-name"><%= category.name%></td>
          <td class="btn-control">
            <button class="btn btn-edit">編輯</button>
            <% if category.articles.count == 0 %>
              <%= link_to "刪除", admin_category_path(category), method: :delete%>
            <% else %>
              無法刪除
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script type="text/javascript">
  
  $(".btn-control").on('click', '.btn-edit', function(event){
    var block = event.target.parentNode.parentNode;
    var input = $('<input type="text" name="" class="input-name">');
    var btn = $('<button class="btn btn-update">更新</button>')
    var origin_name = $(block).find(".category-name").html();
    $(input).val(origin_name);
    $(block).find(".category-name").html(input);
    $(block).find(".btn-edit").remove();
    $(block).find(".btn-control").prepend(btn);
    

  });

  $(".btn-control").on('click', '.btn-update', function(event){
    var block = event.target.parentNode.parentNode;
    var category_id = block.id;
    var category_name = $(block).find(".input-name").val();
    
    $.ajax({
      url: "/admin/categories/" + category_id,
      method: "PATCH",
      datatype: "json",
      data: {
        category_name: category_name
      },
      success: function(data){
        var block = $(".category-list").find("#"+data["id"]);
        var btn = $('<button class="btn btn-edit">編輯</button>')
        $(block).find(".category-name").html(data["name"]);
        $(block).find(".btn-update").remove();
        $(block).find(".btn-control").prepend(btn);
      }
    })
  });
  
</script>