<div class="container">
  <%= render :partial => "shared/tabs_admin_user", :locals => {selected_item: "文章分類"} %>

  <%= form_for [:admin, @category] do |f|%>
    <%= f.text_field :name %>
    <%= f.submit "新增" %>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>類別名稱</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category|%>
        <tr>
          <td><%= category.name%></td>
          <td>
            <button class="btn btn-edit">編輯</button>
            <button class="btn btn-delete">刪除</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>